body {
  margin: auto;
  max-width: auto;
  background-color: black;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 18px;
  color: rgb(223, 223, 223);
  line-height: 1.6;
  padding: 10px; 
}

h1,
h2,
h3 {
  line-height: 1.2
}

a {
  color: #226ebf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.light-mode {
  background-color: #ececcf;
  color: #2b2b2b;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  flex: 0 0 21%; /* This will make the items take up exactly 25% of the container width */
}

@media screen and (max-width: 1200px) {
  .flex-item { 
    flex: 0 0 33.33%; /* On medium-large screens, we want the items to take up exactly 33.33% of the width */
  }
}

@media screen and (max-width: 900px) {
  .flex-item { 
    flex: 0 0 50%; /* On medium screens, we want the items to take up exactly 50% of the width */
  }
}



