body {
  margin: auto;
  max-width: auto;
  background-color: black;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 18px;
  color: rgb(223, 223, 223);
  line-height: 1.6;
  padding: 10px; 
}

h1,
h2,
h3 {
  line-height: 1.2
}

a {
  color: #226ebf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.light-mode {
  background-color: #ececcf;
  color: #2b2b2b;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  flex: 1 0 21%; /* This will make the items take up at least 21% of the container width, and grow to fill available space. */
}

@media screen and (max-width: 600px) {
  .flex-item { 
    flex: 1 0 100%; /* On small screens, we want the items to stack vertically, taking up the full width */
  }
}

